*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}


#main{
    position: relative;
    overflow: hidden;
}


/* Navbar */
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;    
    z-index: 99;/*For up side Show */
    left: 50%;  /*For center The Navbar*/
    transform: translateX(-50%); /*For center The Navbar*/
    top: 3%;
    height: 10vh;
    width: 40vw;
    border-radius: 20px;
    background: #ffffff54;
    backdrop-filter: blur(10px);
    padding: 0px 5px;
}
/* logo of Navbar */
#nav>img{
    width: 12%;
}

/* navbar Buttons */
#nav>button{
    padding: 25px 30px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    background-color: #FFD074;
}
#nav>button:hover{
    background-color: #e6c173;

}

/* navar links */
.centernav>a{
    text-decoration: none;
    color: black;
    margin: 1rem;
}
.centernav>a:hover{
    text-decoration: underline;

}

/* pages */

#page{
    height: 100vh;
    width: 100vw;
}

#page>h1 {
    position: absolute;
    z-index: 99;
    font-weight: 500;
    top: 38%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
}

#page>h4 {
    font-size: 30px;
    position: absolute;
    text-align: center;
    top: 55%;
    font-weight: 400;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    color: #565656;
}



/* canvas */
canvas{
    height: 100vh;
    width: 100vw;
}



